@import '_variable.scss';

nav.transparent {
    // background-color: transparent !important;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: 100;
    width: 100%;
    padding: 70px;
    padding-inline: 20px !important;
    background-color: #fff2e1;
    padding-bottom: 20px !important;

    .logo {
        h1 {
            color: #113C49;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.28px;
            position: relative;
            z-index: 10;

            &::before {
                position: absolute;
                content: url("../../public/images/logo-back.png");
                top: 50%;
                left: -22px;
                transform: translateY(-45%);
                z-index: -1;
            }
        }
    }

    .container {
        max-width: 1920px !important;
        width: 100% !important;
        padding-inline: 126px;
    }

    .navbar-nav {
        margin-left: auto;
        margin-right: 0 !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 80px;
    }

    div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 34px;
    }


    .nav-link {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.44px;
    }

    .btn-border {
        padding: 13px 37px;
        border-radius: 80px;
    }

    .btn-orange {
        background-color: $orange;
        color: #fff;
    }
}

@media screen and (max-width:1600px) {
    nav.transparent {
        .container {
            padding-inline: 20px !important;
        }

        .navbar-nav {
            gap: 25px;

            div {
                gap: 20px;
            }
        }

        .nav-link {
            font-size: 20px;
        }
    }
}

@media screen and (max-width:992px) {
    nav.transparent .navbar-nav {
        margin-right: auto !important;
    }

    nav.transparent {
        background-color: #FFF2E1 !important;
    }
}